<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <%= form_with model: @flight, url: flights_index_path, method: :get, local: true do |form| %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="control">
            <div class="label is-small">Origin</div>
            <div class="select">
              <%= form.collection_select(:from_airport_id, @airports, :id, :code)%>
            </div>
          </div>
          <div class="control">
            <div class="label is-small">Destination</div>
            <div class="select">
              <%= form.collection_select(:to_airport_id, @airports, :id, :code)  %>
            </div>
          </div>
          <div class="control">
            <div class="label is-small">Tickets</div>
            <div class="select">
              <%= form.select :travelers, 1..4 %>
            </div>
          </div>
         <div class="control">
            <div class="label is-small">Travel date</div>
            <div class="select">
              <%= form.select :departure_date, @flights %>
            </div>
            
          </div>
          <div class="control">
            <div class="label is-small has-text-white"> qualquer</div>
            <%= form.submit "Search", class: "button"  %>
          </div>        
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>

<% unless @available_flights.nil? %>
  <% if @available_flights.any? %>
    <%= form_with model: @booking, url: new_booking_path, method: :get, local: true do |form| %>
      <%= form.hidden_field :quantity_of_travelers, :value => params[:travelers] %>
      <%= form.collection_radio_buttons(:flight_id, @available_flights, :id, :duration) do |b| %>
        <div>
          <%= b.radio_button %>
          <div>
            <p>From:</p>
            <%= b.object.from_airport.code %>
          </div>
          <div>
            <p>To:</p>
            <%= b.object.to_airport.code %>
          </div>
          <div>
            <p>Expected departure:</p>
            <%= b.object.formatted_hour %>
          </div>
          <div>
            <p>Flight duration:</p>
            <%= b.object.duration %>
          </div>                          
        </div>
      <% end %>
      <%= form.submit "Select flight", class: "button"  %>
    <% end %>
  <% else %>
    <p>No flights</p>
  <% end %>
<% end %>

   

