<!DOCTYPE html>
<html>
  <head>
    <title>FlyOdin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <a class='navbar-item has-text-weight-bold' href="<%= root_path%>">Fly-Odin</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
